<div>
    <label for="dca_schedule">Dollar-Cost Averaging Schedule</label>
    <select id="dca_schedule" v-model="dca_schedule">
        <option value="never" selected>Never</option>
        <option value="yearly">Yearly</option>
        <option value="quarterly">Quarterly</option>
        <option value="monthly">Monthly</option>
    </select>
</div>
<div v-show="dca_schedule !== 'never'">
    <label for="dca_percent">Percentage of Initial Investment</label>
    <span class="centered" style="font-size: small;">
        Percentage of the initial investment being added to your portfolio at regular intervals.
        For example, if the initial investment was $100 and you plan on adding $10 monthly,
        enter 10%.
    </span>
    <input id="dca_percent" v-model="dca_percent" type="number" pattern="/d*" min="0" max="100" value="0" />
</div>