<h2 class="survey-header">
    Reinvesting Dividends
</h2>

<p class="survey-block">
    Most well-established and profitable companies ditribute <b>dividends</b> to their shareholders.
    This means that, simply by owning shares of a certain company, you will be given a determined
    amount of cash for each share that you own. This is often done in a quarterly basis, but it
    could also be more or less frequent depending on the company.
</p>

<p class="survey-block">
    Many of the popular <b>exchange-traded funds</b> (ETF) that track broad-market indices
    distribute the dividends of the companies that are part of the index back to the shareholders,
    so you don't need to own stock of individual companies to benefit from those dividends.
</p>

<div class="survey-block">
    <small class="centered">Compounding Effect of Dividend Reinvestment</small>
    <img src="https://finmango.github.io/portfolio-simulator/SPY-dividends.svg" />
</div>

<p class="survey-block">
    Most brokers allow you to automatically reinvest any dividends from stock you own. This allows
    you to take advantage of the <b>compounding</b> nature of investing, which can have a
    significant effect over a long period of time.
</p>

<div class="survey-block centered">
    <label for="dividend_reinvestment">Reinvest Dividends</label>
    <select id="dividend_reinvestment" v-model="dividend_reinvestment">
        <option value="yes" selected>Yes</option>
        <option value="no">No</option>
    </select>
</div>