<h2 class="survey-header">
    Initial Investment
</h2>

<p class="survey-block">
    With a sufficiently long <b>investment horizon</b>, you don't need to start with a large initial
    investment to build wealth. In fact, for most people, time is a much more important factor than
    the amount initially invested!
</p>

<p class="survey-block">
    Another often underestimated factor is the <b>physchology</b> of investing. Particularly during
    stressing times such as recessions or market crashes. During a market downturn, the safest
    course of action is often to do nothing. This is easier said than done when you might see
    your portfolio losing, for example, half of its value.
</p>

<p class="survey-block">
    The difference between the highest historical value of your portfolio and the current value is
    called <b>drawdown</b>. Riskier strategies might experience a drawdown of over half of the
    portfolio value. As an investor, you should ask yourself if you would be willing to stick to the
    original investment strategy in that situation. For example, someone who invested in a fully
    diversified 100% U.S. broad-market equity index (<b>VTI</b>) in 2007, would have experienced a
    near 50% drawdown in their investments within a year:
</p>

<div class="survey-block">
    <small class="centered">2008 Recession Drawdown</small>
    <img src="{{wwwroot}}/static/drawdown-vti-2009.png" />
</div>

<p class="survey-block">
    Input your desired <b>initial investment</b>:
</p>

<div class="survey-block centered">
    <script data-include src="init-form.tpl.html"></script>
</div>