<h2 class="survey-header">
    Building a Portfolio
</h2>

<p class="survey-block">
    In order to invest your savings, you need to build a <b>portfolio</b>. The portfolio consists of
    a series of <b>assets</b> to which funds will be allocated. Those assets can be <b>stocks</b>,
    <b>bonds</b>, and other financial instruments. Which assets are selected and the proportion of
    funds allocated to them is what makes a it portfolio.
</p>

<p class="survey-block">
    There's no one-size-fits-all strategy when building a portfolio, but there are several formulas
    that have consistently worked for a number of investment objectives. At FinMango, we are strong
    believers of long-term strategies based on <b>low-cost</b>, </b>broad-market indices</b>. By
    investing in broad-market indices, your wealth will be correlated to the growth of the overall
    economy, instead of depending on the success of individual companies.
</p>

<p class="survey-block">
    We have collected financial data dating back to 1970 and built this portfolio simulator, so you
    can see how different portfolios and strategies would have performed in a variety of economic
    conditions. Your answers to the following questions will be used to initialize the simulator
    parameters. Input your desired initial investment:
</p>

<div class="survey-block centered">
    <script data-include src="init-form.tpl.html"></script>
</div>