<h2 class="survey-header">
    Rebalancing Strategy
</h2>

<div class="spacer"></div>

<div class="survey-block centered">
    <script data-include src="rebalance-form.tpl.html"></script>
</div>

<div class="spacer"></div>

<details>
    <summary class='centered' style="display: list-item">Learn more about rebalancing</summary>

    <p class="survey-block">
        <b>Rebalancing</b> is an extremely important concept when it comes to building a successful
        portfolio. As time passes and some of the assets in your portfolio outperform others, your
        portfolio deviates from its intended <b>asset allocation</b>.
    </p>

    <p class="survey-block">
        The difference between the highest historical value of your portfolio and the current value is
        called <b>drawdown</b>. Riskier strategies might experience a drawdown of over half of the
        portfolio value in a short period of time. Having a diversity of assets in your portfolio helps
        minimize those drawdowns and often results in higher overall performance compared to holding a
        single class of assets, especially when a <b>rebalancing strategy</b> is employed.
    </p>

    <div class="survey-block">
        <script src="chart-drawdown.tpl.html" data-include></script>
    </div>

    <p class="survey-block">
        To stay close to the target asset allocation, investors rebalance their portfolio at certain
        time intervals. More frequent rebalancing does not always yield better results, and unless
        automated it will also take up a significant amount of time and effort. Select your desired
        rebalancing strategy.
    </p>

    <script data-include src="../survey/scroll-up-button.tpl.html"></script>
</details>