<h2 class="survey-header">
    The Power of Time
</h2>

<p class="survey-block">
    It's often said that <b>time in the market</b> always beats <b>timing the market</b>. What this
    means is that investors with long-term goals and good planning are far more likely to succeed
    than those who try to buy and sell assets at the "right" time.
</p>

<p class="survey-block">
    With a sufficiently long <b>investment horizon</b>, you don't need to start with a large initial
    investment to build wealth. In fact, for most people, time is a much more important factor than
    the amount initially invested! This is thanks to <b>compounding</b> nature of investment
    returns.
</p>

<p class="survey-block">
    The <b>Dow Jones Industrial Average Index</b> is one of the longest-running borad-market
    indices. The tendency of overall growth across a sufficiently <b>diversified</b> number of
    assets can be observed quite clearly:
</p>

<div class="survey-block">
    <script src="chart-dow-jones.tpl.html" data-include></script>
</div>

<p class="survey-block">
    Throughout history, both the global and the U.S. economy have consistently experienced
    significant growth during any sufficient long period of time (at least 10 years). In other
    words: if you invested in a broad-market index at any point in history for 10+ years, you would
    have experienced a positive <b>return on your investment</b> (ROI). Even if you invested at the
    worst possible time right before a recession!
</p>