<div id="survey-navigation">

    <div class="navigation-container animated" id="survey-navigation">
        <div class="centered flex one">
            <button id="next">NEXT</button>
            <button onclick="window.location.reload()">START OVER</button>
        </div>
    </div>

    <script async>
        const rootElement = document.currentScript.parentElement;
        const navElement = rootElement.querySelector('#survey-navigation');

        // Execute all of our code in an async block to allow for top-level await calls and to limit
        // the scope of any variables that are created here.
        (async function () {

            // Get all the form data into a dictionary.
            const data = DataHelper.getFormData(document);

            // Pre-fill the form data with previously seen values (from localStorage).
            Object.keys(data).forEach(key => {
                const elem = document.querySelector('#' + key);
                const value = window.localStorage.getItem(key);
                if (value) data[key] = value;
                elem.value = data[key];
            })

            // If we were given a survey root element, mount a VueJS instance on that
            // This needs to be done prior to caching any HTML elements since VueJS replaces them
            let app = null;
            if ('{{survey-root}}' !== '{{' + 'survey-root' + '}}') {
                const elem = document.querySelector('#{{survey-root}}');
                app = new Vue({
                    el: '#' + elem.id,
                    data: Object.assign({}, data, { Formatter: Formatter }),
                });
            }

            let screenIdx = 0;
            const screens = [].filter.call(document.querySelectorAll('div.survey-screen'), el => el !== navElement);
            rootElement.querySelector('#next').addEventListener('click', event => {
                if (screenIdx + 1 < screens.length) {

                    // Every time the next button is clicked, move on to the next question.
                    const currScreen = screens[screenIdx];
                    const nextScreen = screens[screenIdx + 1];

                    // Display the next survey screen using a transition animation.
                    currScreen.classList.remove('survey-screen-visible');
                    nextScreen.classList.add('survey-screen-visible');

                    // Make sure we don't stay focused on the button
                    document.querySelector(':focus')?.blur()

                    // Fire event and increase screen index
                    screenIdx++;
                } else {

                    // Once we reach the end of the survey, send the user to the next screen and
                    // pass all the form elements as query parameters.
                    const formData = DataHelper.getFormData(document);
                    const nextUrl = new URL('{{next-url}}', window.location.href);
                    Object.keys(formData).forEach(key => {
                        const value = formData[key];
                        // Add all form elements to the parameter set.
                        nextUrl.searchParams.set(key, value);
                        // Add all form elements to the local storage.
                        window.localStorage.setItem(key, value);
                    });
                    window.location = nextUrl;
                }
            });

            // Animate and display of the first element of the survey.
            screens[0].classList.add('survey-screen-visible');

            // Animate and display the survey navigation elements.
            navElement.classList.add('survey-screen-visible');
        })();
    </script>
</div>