<h2 class="survey-block" style="text-transform: uppercase; font-size: xx-large;">
    Rule of 72
</h2>

<p class="survey-block">
    The <b>rule of 72</b> is a popular formula used to roughly estimate how long it will
    take for your investments to double in time assuming a constant rate of return.
</p>

<p class="survey-block">
    The formula is extremely simple! Just take the number 72 and divide it by the interest
    rate that you hope to earn from your investments.
</p>

<p class="survey-block">
    We'll now ask you a few questions about your personal finances to show you that, even
    with modest initial savings, you can accumulate a significant amount of wealth.
</p>